html {
  font-family: Helvetica, sans-serif;

  color: rgb(51, 51, 51);
}
body {
  background: rgb(238, 238, 238);
  max-width: 900px;
  margin: 50px auto;
}

article {
  align-items: center;
  display: inline-block;

  align-items: center;
}
img {
  width: 100%;
}
